<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand bottomHeader" id="navbarheaderbottom"></span>
        </div>
    </div>
</nav>